

.content{
    
    display: none;
     }
  
  /* visible is added in JS */
  .content.show{

    display:block;
  }

  .culture {
    background-color:darkgreen;
    cursor: pointer;
    padding:5px 10px 10px 5px ;
    width: 100%;
    border:none;
    text-align:center;
    outline: none;
    font-size: 18px;
     }


body{
    width: 800px;
    height: auto;
    margin:20px auto;
    background-color:green;
    padding: 20px 40px 40px 40px;
    
    border: 5px solid black;
    
    
}


.type1{color:
    mediumblue;
     border: 2px solid blue;
     text-shadow: 2px 2px #FF0000;
     background-color: black;
   font-size: 300%;}



.h4{
   color:green;
   text-shadow: 1px 1px #FF0000  ;
   border: 2px solid blue;
   background-color: black;
   font-size: 150%;

}
  






.family{
    margin-top: 10px;
    width: 800px;
    height:700px;
     
    
}
.mar{
    margin-top: 10px;
    width: 800px;
    height: 700px;
    
}
.food{
    margin-top: 10px;
    width: 800px;
    height: 700px;
    
}
img{
    margin-top: 10px;
    width: 800px;
    height: 700px;
}




p ,p1,p2,p3,p4{
    color: darkblue;
    font-size: 150%;
}
ol{
    color: darkblue;
    font-size: 200%;
}
